@font-face {
    font-family: 'magilioregular';
    src: url('magilioregular-yzv2o-webfont.woff2') format('woff2'),
         url('magilioregular-yzv2o-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }